<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" data-bs-toggle="collapse" routerLink="" data-bs-target=".navbar-collapse.show"><img
        src="/assets/logo.png" alt="blen logo"></a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="px-5 navbar-nav ms-auto d-flex align-items-center">
        <li class=" nav-item">
          <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink=""
            routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="projects"
            routerLinkActive="active-link">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="about"
            routerLinkActive="active-link">About</a>
        </li>
        <li class="text-center where">
          <a class="link" href="https://www.linkedin.com/in/blen-asres-a800b6100/" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <a class="insta" href="https://www.instagram.com/bilu_asres/" target="_blank"><i
              class="bi bi-instagram"></i></a>
          <a class="mail" href="mailto:blenasres@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>