<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Blen Amare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact:true}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="projects" routerLinkActive="active-link">PROJECTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/bilu_asres/" target="_blank"><i
              class="bi bi-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>