.navbar-light .navbar-nav .nav-link {
  color: var(--secondary-color);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link.active-link {
  color: var(--primary-color);
}

.navbar-brand img {
  width: 100px;
  height: auto;
  object-fit: cover;
  z-index: 2;
}

@media screen and (max-width:990px) {

  .navbar-collapse.show,
  .navbar-collapse.collapsing {
    text-align: center;
    font-size: 2rem;
    transition: height 0s ease;
    font-family: aperculight;
    z-index: 9999;
    padding-top: 3rem;
  }

  .navbar-collapse.show {
    height: calc(100vh - 56px);
    transition: height .0s ease;
    padding-top: 150px;
  }

  .where {
    padding-top: 50px;
  }
}

.navbar-toggler {
  border-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: none !important;
  background-color: var(--secondary-color);
  height: 3px;
  width: 25px;
  margin: 10px 0;
  position: relative;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::before {
  display: block;
  background-color: var(--secondary-color);
  height: 3px;
  content: "";
  position: relative;
  top: -7px;
  transition: all 0.15s ease-out;
  /*taken down to hide quicker*/
  transform-origin: center;
}

.navbar-toggler-icon::after {
  display: block;
  background-color: var(--secondary-color);
  height: 3px;
  content: "";
  position: relative;
  top: 4px;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon::before,
.navbar-dark .navbar-toggler-icon::after {
  background-color: var(--color-primary);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-90deg) translateX(7px);
}

.where i {
  padding: 0px 20px;
  color: var(--third-color);
  font-size: 1.5rem;
}

i {
  padding: 0px 10px;
  color: var(--primary-color);
  position: relative;
  top: 1px;
}

.where i:hover {
  color: var(--primary-color);
}


@media screen and (min-width:990px) {

  .link {
    display: none
  }

  .mail {
    display: none
  }

}