MAIN {
  padding: {
    top: 30px;
    bottom: 30px;
  }

  margin-top: 56px;
  height: 3000px;
}

.navbar {

  .navbar-toggler {
    z-index: 1000;
  }

  .navbar-collapse {

    background: rgba(#000, .85);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.35s ease;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center !important;

    &.collapse {
      opacity: 0;
      display: flex;
      pointer-events: none;
    }

    &.collapsing[style*="height"] {
      opacity: 1;
      height: 100vh !important;
    }

    &.collapsing {
      opacity: 0;
      height: 100vh;
    }

    &.collapse.show {
      opacity: 1;
      pointer-events: auto;
    }

    .navbar-nav {
      margin-right: initial !important;
      margin-top: auto;
      margin-bottom: auto;
    }

  }
}