.navbar .navbar-nav .nav-link {
  color: #000;
}



.navbar .navbar-nav .nav-link.active-link {
  text-decoration: underline;
}

.navbar {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 9999;

}