<div class="contact d-flex justify-content-center align-items-center">
  <div class="view">
    <div class="row px-5">
      <div class="col contactbox px-5">
        <h1 class="getintouch px-5">Get in touch</h1>
        <div class="text-center">
          <a target="_blank" href="mailto:blenasres@gmail.com" rel="noreferrer">blenasres@gmail.com</a>
          <br />
          Alexandria, VA USA
        </div>
        <ul>
          <li class="pt-3 text-center where">
            <a class="link" href="https://www.linkedin.com/in/blen-asres-a800b6100/" target="_blank">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a class="insta" href="https://www.instagram.com/bilu_asres/" target="_blank"><i
                class="bi bi-instagram"></i></a>
            <a class="mail" href="mailto:blenasres@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>