<div class="container pt-5 mt-5">

  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <img src="../../../assets/blenphoto.jpeg" alt="Blen profile photo" width="100%" class="p-5" />
    </div>
    <div class="p-5 col-12 col-lg-6">
      <h1 class="px-5 mb-5">About</h1>
      <p class="py-3 px-5">
        I am a Multimedia designer who focuses on product brand development, graphic design and UX/UI implementations.
        I&apos;m a freelance designer working with different companies.
        <br />
        <br />
        I spread love and unity through my designs while growing creatively,
        personally, and professionally. I&apos;m passionate about creating a thoughtful design that has a touch of
        simplicity. I take my
        passion, knowledge, and expertise into each and every project.
        <br />
        <br />
        From Ethiopia to Virginia, I love to travel and get to know different cultures and different artistic styles. My
        work reflects how I visualize the world, with clean lines and modern impressions.

      </p>
    </div>
  </div>
  <div id="contactme" class="contact justify-content-center align-items-center">
    <div class="view">
      <div class="correctrow row px-5">
        <div class="text-center col contactbox px-5">
          <h1 class="getintouch px-5">Get in touch</h1>
          <div class="text-center">
            <a target="_blank" href="mailto:blenasres@gmail.com" rel="noreferrer">blenasres@gmail.com</a>
            <br />
            Alexandria, VA USA
          </div>
          <ul>
            <li class="pt-5 text-center where">
              <a class="link" href="https://www.linkedin.com/in/blen-asres-a800b6100/" target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
              <a class="insta" href="https://www.instagram.com/bilu_asres/" target="_blank"><i
                  class="bi bi-instagram"></i></a>
              <a class="mail" href="mailto:blenasres@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>