<div class="container mt-5 mb-5">

  <div class="row">
    <div class="col-12 col-sm-4">
      <img src="../../../assets/blenphoto.jpeg" alt="Blen profile photo" width="100%" />
    </div>
    <div class="col-12 col-sm-6">
      <h1 class="'mb-5">About</h1>
      <p>
        Blen. A Multimedia Designer that has worked for a top streaming service.
        I am a Multimedia designer who focuses on product brand development, graphic design and UX/UI implementations.
        I&apos;m a freelance designer working with different companies.
        <br />
        <br />
        I&apos;m eager to further pursue my
        career as a designer so that I can spread love and unity through my designs while growing creatively,
        personally, and professionally. I&apos;m passionate about creating a thoughtful design that has a touch of
        simplicity. I take my
        passion, knowledge, and expertise into each and every project.
        <br />
        <br />
        From Ethiopia to Virginia, I love to travel and get to know different cultures and different artistic styles. My
        work reflects how I visualize the world, with clean lines and modern impressions.

      </p>

    </div>
  </div>

</div>