<div class="d-flex justify-content-center banner">
  <div class="text-center content">
    <h1 class="mb-5">Blen Amare</h1>
    <a routerLink="projects">PROJECTS <i class="bi bi-arrow-right"></i></a>
  </div>
</div>

<!-- foodbox  -->
<div class="mx-5 mt-4 mb-5">
  <h1 class="text-center m4">Featured Projects</h1>
  <div class="row">
    <div class="col-lg-3 mt-3" *ngFor="let fd of foodData;index as i">
      <div class="foodbox" *ngIf="i<=3">
        <div class="proimg">
          <img n src="{{fd.foodImg}}" />
        </div>
        <div>
          <h1>{{fd.foodName}}</h1>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="projects" class="viewmorebtn">view works <i class="bi bi-arrow-right"></i></a>
</div>


<div class="bggrid team-grid">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Brands I've worked with </h2>
    </div>
    <div class="row people">
      <div class="col-md-4 col-lg-3 item">
        <div class="box" style="background-image:url(assets/img/1.jpg)">
          <div class="cover">
            <h3 class="name">Ben Johnson</h3>
            <p class="title">Musician</p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 item">
        <div class="box">
          <div class="cover">
            <h3 class="name">Emily Clark</h3>
            <p class="title">Artist </p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 item">
        <div class="box" style="background-image:url(assets/img/3.jpg)">
          <div class="cover">
            <h3 class="name">Carl Kent</h3>
            <p class="title">Stylist </p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 item">
        <div class="box" style="background-image:url(assets/img/4.jpg)">
          <div class="cover">
            <h3 class="name">Felicia Adams</h3>
            <p class="title">Model </p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>