<div class="d-flex justify-content-center banner">
  <div class="text-center content">
    <h1 class="description px-5 mb-5">Blen Amare is a multimedia designer living and working in Alexandria, VA</h1>
    <a routerLink="projects">See Projects</a>
  </div>
</div>

<!-- foodbox  -->
<div class="mx-5 my-5">
  <h1 class="text-center m4">Featured Projects</h1>
  <div class="row">
    <div class="col-lg-3 mt-3" *ngFor="let fd of foodData;index as i">
      <div class="foodbox" *ngIf="i<=3">
        <div class="proimg">
          <img n src="{{fd.foodImg}}" />
        </div>
        <div>
          <h1>{{fd.foodName}}</h1>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="projects" class="viewmorebtn">view works <i class="bi bi-arrow-right"></i></a>
</div>

<!-- brands I've worked with -->
<div class="bggrid">
  <div class="p-5 row">
    <p class="brands text-center text-white">Some brands I've worked with:</p>
    <div class="col-12 col-sm-6 col-md-4" alt="amazon prime">
      <img src="../../../assets/amazonprime.png" alt="hello" class="px-5 py-1 img-fluid" />
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <img src="../../../assets/christopherfareed.png" class="px-5 py-1 img-fluid" alt="curiosity stream image">
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <img src="../../../assets/curiositystream.png" class="px-5 py-1 img-fluid" alt="gartner image">
    </div>
    <div class="col-12 col-sm-6 col-md-4" alt="amazon prime">
      <img src="../../../assets/Gartner.png" alt="hello" class="px-5 py-1 img-fluid" />
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <img src="../../../assets/geneia.png" class="px-5 py-1 img-fluid" alt="curiosity stream image">
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <img src="../../../assets/messiahuniversity.png" class="px-5 py-1 img-fluid" alt="gartner image">
    </div>
  </div>
</div>

<!-- img -->
<div class="mb-5 d-flex justify-content-center contact">
  <div class="text-center contactbtn">
    <h2 class="mb-5">I'm accepting projects</h2>
    <a routerLink="contact">Work with me</a>
  </div>
</div>

<!-- where I'm at -->
<div class="my-5 py-5 row">
  <div class="py-5">
    <h1 class="my-5 col-12 text-center">Where I'm at:</h1>
    <div class="text-center mt-3 mb-3">
      <a href="#" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="#" target="_blank"><i class="bi bi-envelope"></i></a>
    </div>
  </div>
</div>