<div class="container">
  <div class="row p-5">
    <a class="py-3 backbtn" routerLink="/"><i class="bi bi-chevron-left"></i>Home</a>
    <h1 class="mt-5">Projects</h1>
    <div class="col-lg-4" *ngFor="let fd of foodData">
      <div class="mx-auto projectbox my-4">
        <div class="proImg">
          <a [routerLink]="['/projects',fd.id]"><img class="proimg" src="{{fd.projectImg}}"></a>
        </div>
        <p><a class="projectpage" [routerLink]="['/projects',fd.id]">{{fd.projectName}}</a></p>
      </div>
    </div>
    <div class="pt-5 mt-5 col-12">
      <img class="px-2 img-fluid col-6 mb-5" src="/assets/curiosity/anthonybourdain.jpeg"
        alt="anthony bourdain image" />
      <img class="px-2 img-fluid col-6 mb-5" src="../../../assets/curiosity/fathersday.png"
        alt="father's day promo image" />
      <img class="px-2 img-fluid col-6 mb-5" src="../../../assets/curiosity/adpromo.png"
        alt="Curisoisty stream ad image" />
      <img class="px-2 img-fluid col-6 mb-5" src="../../../assets/naysam/1.jpg" alt="Naysam main image" />
      <img class="px-2 img-fluid col-6 mb-5" src="../../../assets/naysam/8.png" alt="Naysam bottle design image" />
      <img class="px-2 img-fluid col-6 mb-5" src="../../../assets/bb/main.jpeg" alt="B&B media design image" />
      <img class="px-2 img-fluid col-6 mb-5" src="../../../assets/bahel/localshop.jpeg"
        alt="Bahel coffee local shop image" />
      <img class="px-2 img-fluid col-6 mb-5" src="../../../assets/bahel/coffee3.jpeg" alt="Bahel Coffee cup image" />
    </div>
  </div>

</div>