.foodbox {
  padding: 10px 10px;
}

.foodbox img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.foodbox h2 {
  font-size: 18px;
  margin-top: 20px;
}

i {
  padding: 0px 10px;
  color: var(--third-color);
  position: relative;
  top: 1px;
}

.foodbox a {
  text-decoration: none;
}

.foodbox a:hover {
  text-decoration: underline;
}

.backbtn {
  text-decoration: none;
  color: var(--third-color)
}

.backbtn:hover {
  text-decoration: underline;
}