<div class="container mt-5 mb-5">
  <div class="row p-5">
    <h1 class="mt-5 text-black">Projects</h1>
    <div class="col-lg-4" *ngFor="let fd of foodData">
      <div class="foodbox my-4">
        <a [routerLink]="['/projects',fd.id]"><img src="{{fd.projectImg}}"></a>
        <h2>{{fd.projectName}}</h2>
        <a class="buybtn" [routerLink]="['/projects',fd.id]">See details<i class="bi bi-chevron-right"></i></a>
      </div>
    </div>
    <div class="col-12">
      <img class="px-2 img-fluid col-6 mb-5" src="../../../assets/palmy.jpg" alt="cover image" />
      <img class="px-2 img-fluid col-6 mb-5" src="../../../assets/palm.jpg" alt="cover image" />
    </div>
  </div>

</div>