* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #F1E8E6;
  --secondary-color: #EDD2CB;
  --third-color: #F55951;
  --fourth-color: #543C52;
  --fifth-color: #361D32;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--fifth-color);
}

@font-face {
  font-family: 'Cavergiz';
  src: url('./assets/Cavergiz-BF644a15f792a4a.ttf');
}

h1 {
  color: var(--secondary-color);
  font-size: 60px;
  font-family: aperculight;
}