.backbtn {
  text-decoration: none;
  color: var(--secondary-color)
}

.backbtn:hover {
  text-decoration: underline;
}

i {
  padding: 0px 10px 0px 0px;
  color: var(--secondary-color);
  position: relative;
  top: 1px;
}

.banner img {
  object-fit: cover;
}

.description {
  color: var(--secondary-color);
}