.backbtn {
  text-decoration: none;
  color: black
}

.backbtn:hover {
  text-decoration: underline;
}

i {
  padding: 0px 10px 0px 0px;
  color: black;
  position: relative;
  top: 1px;
}

.banner img {
  max-height: 300px;
  object-fit: cover;
}