.backbtn {
  text-decoration: none;
  color: var(--secondary-color);
  position: relative;
  left: 25px;
}

.backbtn:hover {
  text-decoration: underline;
}

.banner img {
  object-fit: cover;
}

.description {
  color: var(--secondary-color);
}

.main {
  font-size: 30px;
}